[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
dataclasses-json = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
build = "python3 build.py"
server = "hugo server --disableFastRender"
hugo = "hugo"
