[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = ">=3.1.41"
dataclasses-json = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
build = "python3 build.py && hugo"
