* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100svh;
  width: stretch;
}

body {
  color: #444;
  background-color: #eee;
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100%;
  max-width: 100%;
  padding: 0rem 2rem;

  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.body-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

main {
  width: 530px;
  flex-grow: 1;
  padding: 1rem 0;
  display: flex;
  flex-flow: column;
}

a {
  color: #000;
  text-decoration: none;
}

figure {
  padding: 1rem;
  margin-bottom: 10px;
  box-shadow: #aaa 0 0 3px;
}

@media screen and (width < 600px) {
  html {
    font-size: 14px;
  }

  .body-container {
    width: 100%;
  }

  main {
    width: 95%;
  }
}
