div.tags {
  display: flex;
  justify-content: flex-start;
  ul {
    list-style: none;
    padding: 0 0.3rem;
  }
}

main {
  h3 {
    margin: 0.8rem 0;
  }
  pre {
    background-color: #ddd;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
  }
  code {
    background-color: #ddd;
    text-indent: 0;
    padding: 3px;
    font-family: monospace;
  }
  ul {
    padding: 0.5rem 2rem;
  }
  table {
    padding: 5px;
  }
}
