{{ $entriesCount := 5 }}
{{ range $tagName, $entries := .Site.Taxonomies.tags }}

<div class="same-tags-posts-area">
    <h3>{{ $tagName }}</h3>
    <div style="display: flex;">
        <ul id="posts" style="margin-bottom: 0em;">
            {{ range first $entriesCount $entries }}
            {{ .Render "li" }}
            {{ end }}
        </ul>
        <div style="margin-left: 1em; display: flex; align-items: flex-end;">
            {{ if gt $entries.Count $entriesCount }}
            <a class="more-btn" href="/tags/{{ lower $tagName }}/">more...</a>
            {{end}}
        </div>
    </div>
</div>

{{ end }}