{{ define "main" }}
<style>
  :target {
    background-color: rgb(63, 60, 60);
    border-radius: 3px;
  }
</style>

<h2>{{ .Title }}</h2>

{{ $top_comments := findRE "<p>.*</p>" .Content }}
{{ range $top_comments }}
<p>{{ plainify . }}</p>
{{ end }}

{{ $blame_info_list := .Site.Data.blame_575 }}
<ul>
  {{ range $blame_info_list }}
  {{ $commit_hash := .commit_hash }}
  {{ $guid := .guid }}
  <li id="{{ $guid }}" style="list-style-type: none;">
    {{ if ne (len .okimochi) 0 }}
    <details>
      <summary>
        <a href="#{{ $guid }}" style="color: inherit; text-decoration: none; cursor: default;">{{ .line }}</a>
        <a href={{ printf "https://github.com/Totsugekitai/hanazonochateau.net/commit/%s" $commit_hash }}
          style="font-size: x-small; color: darkgray;">
          by {{ .author }} {{ dateFormat "2006-01-02" (printf .date | time) }}
        </a>
      </summary>
      <p
        style="margin: 0px; font-style: italic; font-size: small; padding-top: 5px; padding-bottom: 5px; padding-left: 4em;">
        {{ .okimochi }}
      </p>
    </details>
    {{ else }}
    <span style="list-style: none;">
      <a href="#{{ $guid }}" style="color: inherit; text-decoration: none; cursor: default;">{{ .line }}</a>
      <a href={{ printf "https://github.com/Totsugekitai/hanazonochateau.net/commit/%s" $commit_hash }}
        style="font-size: x-small; color: darkgray;">
        by {{ .author }} {{ dateFormat "2006-01-02" (printf .date | time) }}
      </a>
    </span>
    {{ end }}
  </li>
  {{ end }}
</ul>

{{ end }}
