* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: auto;
  min-height: 100%;
  width: stretch;
  display: flex;
  flex-direction: column;
}

body {
  color: #444;
  background-attachment: fixed;
  background-image: linear-gradient(10deg, #d6f7c3, #bdf3ef);
  font-family: sans-serif;
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  flex-grow: 1;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.body-container {
  flex-grow: 1;
  width: 100%;
  min-width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  font-size: x-large;
  height: 3.5em;
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  border-bottom: 30px solid rgba(255, 255, 255, 0.4);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);

  display: flex;
  justify-content: center;

  div {
    padding: 0 4rem;
    width: 1000px;
    max-width: 1000px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

main {
  flex: 1;
  width: 100%;
  max-width: 1000px;
  padding: 2rem 4rem;

  p:has(> img) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
  }
}

footer {
  margin: 2rem 1rem;
  width: 1000px;
  max-width: 1000px;

  p {
    text-align: center;
  }

  hr {
    margin: 1rem 2rem;
  }
}

.post-li {
  margin-bottom: 1rem;
  .post-li-href {
    display: flex;
    justify-content: flex-start;
    a {
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: end;

      h2 {
        padding-right: 0.5rem;
      }
    }
  }
}

h1 {
  font-size: x-large;
}

h3 {
  margin: 0.5rem 0;
}

h4 {
  margin: 0.5rem 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.title-time {
  margin-bottom: 1rem;
}

@media screen and (width < 1000px) {
  html {
    font-size: 13px;
  }

  .body-container {
    width: 100%;
  }

  header {
    div {
      width: 100%;
      max-width: 100%;
    }
  }

  main {
    width: 95%;
  }

  footer {
    width: 95%;
    max-width: 95%;
  }

  h1 {
    font-size: large;
  }
  h2 {
    font-size: medium;
  }
  h3 {
    font-size: small;
  }
  h4 {
    font-size: smaller;
  }
  h5 {
    font-size: smaller;
  }
  h6 {
    font-size: smaller;
  }
}
